.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

br {
  line-height: 35px;
}

.App-link {
  color: #09d3ac;
}

.Square {
  display: inline-block;
  padding: 3px;
}

.inputSquare {
  width: 3em;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 30px;
}

.pyramidWrapper {
  height: 300px;
  justify-content: center;
  align-items: center;
}
